
.tipo_form {
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
  margin: 0 0 5px;
}
.tipo_form_header {
  display: inline-table;
}
.tipo_form::after {
  content: '';
  position: relative;
  height: 3px;
  display: block;
  clear: both;
  background-color: #a9d773;
}

.button-row button {
  margin-right: 8px;
}
.card-footer {
  margin: 0 auto;
  display: table;
}

.full-width {
  width: 100%;
}
mat-form-field.mat-form-field {
  font-size: 12px;
}
.mat-error {
  font-size: 1.25em;
}

div#card_form {
  margin: 0 20px;
}
